<%-include('nav.ejs') %>
<link rel="stylesheet" href="style.css" />
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campus Bazaar</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha384-xmRqIRyPf4v+19ByRZj5Sc0eYHjriS9z6g5odUJjkKEFp5GflFy4x0zGx4NPeRt+"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap"
    />
    <style>
      body {
        font-family: "Poppins", sans-serif;
        background: linear-gradient(
          rgb(0, 0, 0) 0%,
          rgb(31, 30, 30) 50%,
          rgb(0, 0, 0) 100%
        );
        color: #fff;
        margin: 0;
        padding: 0;
      }
      .top_most {
        padding: 6rem 1rem 2rem;
      }
      .box {
        margin-top: 2rem;
        padding: 1rem;
        margin-left: 1rem;
        /* background-color: black; */
        background: linear-gradient(
          rgb(0, 0, 0) 0%,
          rgb(37, 37, 37) 50%,
          /* rgb(31, 30, 30) 60%, */ rgb(0, 0, 0) 100%
        );
      }
      .box:hover {
        scale: 1.01;
        transition: 0.5s;
        /* box-shadow: 8px 2px rgb(211, 209, 209); */
        /* border: 1px solid white; */
      }
      h3 {
        color: dimgray;
        font-size: 22px;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 16px;
        line-height: 1.6;
        color: #fff;
        /* color: white;
        padding: 1rem;
        border-radius: 10px;
        background: #000; */
      }
      i {
        margin-right: 1rem;
        color: dimgray;
      }
    </style>
  </head>
  <body>
    <div class="top_most">
      <div class="box">
        <h3><i class="fas fa-arrow-right"></i> Introduction:</h3>
        <p>
          Campus Bazaar is an innovative online platform tailored specifically
          for college students, designed to streamline the process of buying,
          selling, and renting items essential for college life.
        </p>
      </div>
      <div class="box">
        <h3><i class="fas fa-arrow-right"></i> Purpose:</h3>
        <p>
          Our primary aim is to provide a convenient and cost-effective solution
          for college students who often require various items for short-term
          use, such as textbooks, electronics, furniture, and more.
        </p>
      </div>
      <div class="box">
        <h3><i class="fas fa-arrow-right"></i> Solving a Common Problem:</h3>
        <p>
          We recognize the challenges faced by students who need specific items
          for a limited duration, yet hesitate to invest in purchasing them
          outright. Campus Bazaar addresses this issue by offering a platform
          where students can easily find, rent, or sell items they need or no
          longer require.
        </p>
      </div>
      <div class="box">
        <h3><i class="fas fa-arrow-right"></i> Community-Centric Approach:</h3>
        <p>
          Campus Bazaar fosters a sense of community among college students by
          facilitating peer-to-peer transactions within a trusted environment.
          Through interactions on the platform, students can build connections,
          share experiences, and contribute to sustainable consumption
          practices.
        </p>
      </div>
      <div class="box">
        <h3><i class="fas fa-arrow-right"></i> User-Friendly Interface:</h3>
        <p>
          Our website features a user-friendly interface designed to enhance the
          browsing and transaction experience for students of all technical
          backgrounds. Intuitive search and filter options make it easy for
          users to find the items they need, while clear product descriptions
          and images ensure transparency and informed decision-making.
        </p>
      </div>
      <div class="box">
        <h3><i class="fas fa-arrow-right"></i> Secure Transactions:</h3>
        <p>
          We prioritize the security and privacy of our users' information. All
          transactions on Campus Bazaar are conducted securely, with options for
          payment and communication between buyers and sellers facilitated
          through our platform. Additionally, user accounts and listings are
          verified to maintain the integrity of the community and prevent
          fraudulent activities.
        </p>
      </div>
      <div class="box">
        <h3><i class="fas fa-arrow-right"></i> Mission Statement:</h3>
        <p>
          At Campus Bazaar, our mission is to empower college students to make
          smart and sustainable choices when it comes to acquiring and disposing
          of items necessary for their academic and personal lives. By promoting
          a culture of resource sharing and collaboration, we aim to contribute
          to a more efficient and environmentally conscious college experience
          for students worldwide.
        </p>
      </div>
    </div>
  </body>
</html>
