<%-include('nav.ejs') %>
<link rel="stylesheet" href="style.css" />
<style>
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .top_most {
    height: max-content;
    padding-bottom: 2rem;
    padding-top: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Poppins", sans-serif;
    background-color: #f8f8fd;
    
    
  }
  p {
    font-size: 18px;
  }
  .box {
    margin-top: 2rem;
    
    margin-left: 2rem;

  }
  i {
    margin-right: 1rem;
  }
  h3{
    /* color: navy; */
    color: navy;

  }
</style>
<body>
  <div class="top_most">
    <div class="box">
      <h3>
        <i class="fa-solid fa-arrow-right fa-lg" style="color: navy"></i>
        Introduction:
      </h3>
      <p>
        UniUnity is an innovative online platform tailored specifically for
        college students, designed to streamline the process of buying, selling,
        and renting items essential for college life.
      </p>
    </div>
    <div class="box">
      <h3>
        <i class="fa-solid fa-arrow-right fa-lg" style="color: navy"></i>
        Purpose:
      </h3>
      <p>
        Our
        primary aim is to provide a convenient and cost-effective solution for
        college students who often require various items for short-term use,
        such as textbooks, electronics, furniture, and more.
      </p>
    </div>

    <div class="box">
      <h3>
        <i class="fa-solid fa-arrow-right fa-lg" style="color: navy"></i>
        Solving a Common Problem:
      </h3>
      <p>
        We
        recognize the challenges faced by students who need specific items for a
        limited duration, yet hesitate to invest in purchasing them outright.
        UniUnity addresses this issue by offering a platform where students can
        easily find, rent, or sell items they need or no longer require.
      </p>
    </div>
    <div class="box">
      <h3>
        <i class="fa-solid fa-arrow-right fa-lg" style="color: navy"></i>
        Community-Centric Approach:
      </h3>
      <p>
        </i
        >UniUnity fosters a sense of community among college students by
        facilitating peer-to-peer transactions within a trusted environment.
        Through interactions on the platform, students can build connections,
        share experiences, and contribute to sustainable consumption practices.
      </p>
    </div>
    <div class="box">
      <h3>
        <i class="fa-solid fa-arrow-right fa-lg" style="color: navy"></i>
        User-Friendly Interface:
      </h3>
      <p>
        Our
        website features a user-friendly interface designed to enhance the
        browsing and transaction experience for students of all technical
        backgrounds. Intuitive search and filter options make it easy for users
        to find the items they need, while clear product descriptions and images
        ensure transparency and informed decision-making.
      </p>
    </div>
    <div class="box">
      <h3>
        <i class="fa-solid fa-arrow-right fa-lg" style="color: navy"></i>
        Secure Transactions:
      </h3>
      <p>
        We prioritize the security and privacy of our users' information. All
        transactions on UniUnity are conducted securely, with options for
        payment and communication between buyers and sellers facilitated through
        our platform. Additionally, user accounts and listings are verified to
        maintain the integrity of the community and prevent fraudulent
        activities.
      </p>
    </div>
    <div class="box">
      <h3>
        <i class="fa-solid fa-arrow-right fa-lg" style="color: navy"></i>
        Mission Statement:
      </h3>
      <p>
        At UniUnity, our mission is to empower college students to make smart
        and sustainable choices when it comes to acquiring and disposing of
        items necessary for their academic and personal lives. By promoting a
        culture of resource sharing and collaboration, we aim to contribute to a
        more efficient and environmentally conscious college experience for
        students worldwide.
      </p>
    </div>
  </div>
</body>
