<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add to Cart</title>
    <style>
      .cart {
        height: auto;
        width: auto;
        padding: 1rem;
        background-color: rgb(241, 241, 241);
      }
    </style>
  </head>
  <body>
    <% products.forEach(product => { %>
    <h1>product.name</h1>
    <p>product.price</p>

    <% }) %>
  </body>
</html>
