<link rel="stylesheet" href="style.css" />

<div class="about">
  <h1>Why Choose Campus Bazaar?</h1>
  <div class="b2">
    <div class="b1">
      <i class="fa-solid fa-handshake fa-2xl" style="color: #2e3e3e"></i>
      <b> Convenience</b>: Goodbye queues and searches! Campus Bazaar lets you
      shop hassle-free from home, anytime.
    </div>
    <div class="b1">
      <i class="fa-solid fa-star fa-2xl" style="color: #2e3e3e"></i>
      <b> Affordability</b>: We offer competitive prices and flexible rentals,
      ensuring quality without breaking the bank.
    </div>
  </div>
  <div class="b2">
    <div class="b1">
      <i class="fa-solid fa-people-group fa-2xl" style="color: #2e3e3e"></i>
      <b>Community</b>: Join the Campus Bazaar community – where students
      support students.
    </div>
    <div class="b1">
      <i class="fa-solid fa-shield-halved fa-2xl" style="color: #2e3e3e"></i>
      <b>Trust and Security</b>: We use strict verification and secure payments
      for a worry-free experience.
    </div>
  </div>
</div>
