<link rel="stylesheet" href="style.css" />

<div class="abt">
  <div id="pic"></div>

  <div id="txt">
    <!-- <h2 style="margin: auto; margin-bottom: 0; margin-top: 0">Features</h2> -->

    <p>
      <i class="fa-solid fa-check fa-xl" style="color: #35af08"></i>
      Campus Bazaar: The ultimate hub for hostel and college students.
    </p>
    <p>
      <i class="fa-solid fa-check fa-xl" style="color: #35af08"></i>
      Rent, buy, or sell textbooks, electronics, furniture, and more
      effortlessly.
    </p>
    <p>
      <i class="fa-solid fa-check fa-xl" style="color: #35af08"></i>
      Simplify your college experience with our convenient platform.
    </p>
    <p>
      <i class="fa-solid fa-check fa-xl" style="color: #35af08"></i>
      Join our vibrant community and make Campus Bazaar your go-to for all
      campus needs.
    </p>
  </div>
</div>
<script>
  
</script>
