<link rel="stylesheet" href="style.css" />

<footer>
  <div class="left">
    <h1 style="color: white; font-weight: 500; font-size: 2 rem">
      🛍️Campus Bazaar
    </h1>
  </div>
  <div class="right">
    <ul>
      <form action="/home" method="get"><button>Home</button></form>

      <form action="/about_section" method="get"><button>About</button></form>

      <form action="/add" method="get"><button>Add</button></form>

      <form action="/allProducts" method="get">
        <button>Get</button>
      </form>
      <form action="/suggest" method="get"><button>Suggestion</button></form>
    </ul>
  </div>

  <div class="social">
    <i onclick="open_insta()" class="fa-brands fa-instagram fa-2xl"></i>
    <i onclick="open_twitter()" class="fa-brands fa-twitter fa-2xl"></i>
    <i onclick="open_fb()" class="fa-brands fa-facebook fa-2xl"></i>
  </div>
</footer>
<div class="copy">
  &copy;Copyright 2024 by Campus Bazaar.All rightd reserved
</div>

<script>
  function open_insta() {
    window.open("https://www.instagram.com/samar_abbas_786/");
  }
  function open_twitter() {
    window.open("https://twitter.com/SamarAb65178114");
  }
  function open_fb() {
    window.open("https://www.facebook.com/samar.naqvi.568");
  }
</script>
