<link rel="stylesheet" href="style.css">

<div class="hero">
    <div class="text" >
      <h1>
        Welcome to
        <i style="letter-spacing: 1rem; font-style: normal"
          ><span>Uni</span><b>Unity</b></i
        >
      </h1>
      <p>
        Revolutionize hostel and college living with our diverse rentals. Furnish your space, upgrade your workspace, simplify your routine. Easy renting with our user-friendly platform
      </p>
      <!-- </div> -->
      <button>Explore  <i class="fa-solid fa-angles-right fa-lg" style="color: #ffffff;"></i></button>
    </div>
    <div class="home-pic">
      <div class="out">
      <img src="/images/new_college.jpg" alt="image">
    </div>
    </div>
  </div>
</div>