<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SELL & GET</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="top">
      <nav>
        <div class="left">
          <h1>🛍️UniUnity</h1>
        </div>
        <div class="right">
          <ul>
            <form action=""><button>Home</button></form>

            <form action=""><button>About</button></form>

            <form action="/add" method="get"><button>Add Product</button></form>

            <form action="/allProducts" method="get">
              <button>All Products</button>
            </form>

            <form action="/signup/get" method="get">
              <button>Sign up</button>
            </form>
          </ul>
        </div>
        <div class="cart">
          <i
            id="cart"
            class="fa-solid fa-cart-shopping fa-xl"
            style="color: #ffffff"
          ></i>
          <p id="count"></p>
          <i id="bar" class="fa-solid fa-bars fa-xl" style="color: #ffffff"></i>
        </div>
      </nav>
      <div class="hero">
        <div class="text" style="margin-bottom: 4rem">
          <h1>
            Welcome to
            <i style="letter-spacing: 1rem; font-style: normal"
              ><span>Uni</span><b>Unity</b></i
            >
          </h1>
          <p>
            Join us in revolutionizing hostel and college living! Explore our
            comprehensive range of rentals meticulously crafted to meet your
            unique needs, whether it's furnishing your living space, upgrading
            your workspace, or simplifying your daily routine. With our
            user-friendly platform, renting has never been easier
          </p>
          <!-- </div> -->
          <button>Explore</button>
        </div>
      </div>
    </div>
    <div class="abt">
      <div id="pic"></div>
      <div id="txt">
        <h2>About</h2>
        <p>
          Welcome to UniUnity, the go-to hub for hostel and college students to
          rent, buy, and sell items essential to their campus life. Our platform
          is designed with students in mind, offering a convenient and
          affordable solution to meet their accommodation and academic needs.
          Whether you're in search of textbooks, electronics, furniture, or
          looking to declutter and earn some extra cash, UniUnity provides a
          seamless experience for connecting students with the items they need.
          Join our community today and simplify your college experience with
          UniUnity.
        </p>
      </div>
    </div>

    <div class="service">
      <h1>Our Services</h1>
      <div class="boxes">
        <div class="box1">
          <i
            class="fa-sharp fa-solid fa-bag-shopping fa-2xl"
            style="color: #000000"
          ></i>
          <h2>On Rent</h2>
          <p>
            Catering exclusively to hostel and college staff, our platform
            offers a straightforward solution: renting. From textbooks to tech
            gadgets, we've got you covered with a wide array of items available
            for short-term or long-term rental. Skip the hassle of buying and
            enjoy the flexibility of temporary ownership. Rent smarter, live
            better.
          </p>
          <button>Know More</button>
        </div>
        <div id="box2" class="box1">
          <i
            class="fa-solid fa-money-check-dollar fa-2xl"
            style="color: #000000"
          ></i>
          <h2>Sell Your Items</h2>
          <p>
            In addition to offering convenient rentals, we also provide a
            platform for selling items, empowering users to declutter and earn
            extra income effortlessly. Whether you're a student looking to
            offload textbooks at the end of the semester or a staff member with
            unused items to spare, our website offers a seamless selling
            experience.
          </p>
          <button>Know More</button>
        </div>
        <div class="box1">
          <i class="fa-brands fa-shopify fa-2xl" style="color: #000000"></i>
          <h2>Buy</h2>
          <p>
            we offer an extensive selection of items to cater to your needs.
            Whether you're a student stocking up for the semester or a staff
            member looking to upgrade your space, our platform makes shopping
            easy and convenient. Browse our inventory, compare prices, and enjoy
            the convenience of doorstep delivery. Find what you need and make it
            yours with just a few clicks
          </p>
          <button>Know More</button>
        </div>
      </div>
    </div>
    <div class="about">
      <h1>Why Choose UniUnity?🫠</h1>
      <div class="b2">
        <div class="b1">
          <b> Convenience</b>: Say goodbye to long queues and tedious searches.
          With UniUnity, you can browse and purchase or rent items from the
          comfort of your own home, at any time that suits your schedule.
        </div>
        <div class="b1">
          <b> Affordability</b>: We understand that college expenses can add up
          quickly. That's why we strive to offer competitive prices and flexible
          rental options, helping you save money without compromising on
          quality.
        </div>
      </div>
      <div class="b2">
        <div class="b1">
          <b>Community</b>: UniUnity is more than just a marketplace – it's a
          community of students helping students. Whether you're selling your
          old textbooks or searching for a specific item, you'll find support
          and camaraderie every step of the way.
        </div>
        <div class="b1">
          <b>Trust and Security</b>: Your safety and security are our top
          priorities. Our platform employs rigorous verification processes and
          secure payment methods to ensure a worry-free experience for all
          users.
        </div>
      </div>
    </div>
    <footer>
      <div class="left">
        <h1>🛍️UniUnity</h1>
      </div>
      <div class="right">
        <ul>
          <form action=""><button>Home</button></form>

          <form action=""><button>About</button></form>

          <form action="/add" method="get"><button>Add Product</button></form>

          <form action=""><button>Service</button></form>

          <form action=""><button>Suggestion</button></form>
        </ul>
      </div>

      <div class="social">
        <i class="fa-brands  fa-instagram fa-2xl"></i>
        <i class="fa-brands fa-twitter fa-2xl"></i>
        <i class="fa-brands fa-facebook fa-2xl"></i>
      </div>
    </footer>
    <hr />
    <div class="copy">&copy;Copyright 2024 by UniUnity.All rightd reserved</div>
  </body>
  <script>
    const count = document.getElementById("count");
    count.innerHTML = 0;
  </script>
</html>
