<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
      .add {
        display: none;
      }
      .addnav {
        background-color: #1e1d1d;
      }

      @media screen and (max-width: 800px) {
        #mySidebar {
          text-align: center;
        }
        #mySidebar form button {
          border: none;
          background-color: transparent;
          margin-top: 1rem;
          font-size: 18px;
        }
        #mySidebar form button:hover {
          opacity: 0.7;
        }
      }
    </style>
  </head>
  <body>
    <nav id="nav" class="addNav">
      <div class="left">
        <pre><h1 style="color: rgb(44, 109, 179); font-weight: 600">🛍️Campus </h1></pre>
        <h1 style="color: orange; font-weight: 600">Bazaar</h1>
      </div>
      <div class="right">
        <ul>
          <form action="/home" method="get">
            <button>Home</button>
          </form>

          <form action="/about_section">
            <button>About</button>
          </form>

          <form action="/add" method="get"><button>Add</button></form>

          <form action="/allProducts" method="get">
            <button>Get</button>
          </form>

          <% if (cookie) { %>
          <form action="/user" method="get">
            <button><i class="fa-solid fa-circle-user fa-2xl"></i></button>
          </form>
          <% } else { %>
          <form action="/signup/get" method="get">
            <button>Sign up</button>
          </form>
          <% } %>
        </ul>
      </div>
      <!-- <div class="cart">
        <form action="/go-to-cart" method="get">
          <button
            style="
              border: none;
              background-color: transparent;
              height: max-content;
            "
          >
            <i
              id="cart"
              class="fa-solid fa-cart-shopping fa-2xl"
              style="color: #fff"
            ></i>
          </button>
        </form>
        <i
          id="bar"
          onclick="w3_open()"
          class="fa-solid fa-bars fa-2xl"
          style="color: #fff"
        ></i>
      </div> -->
    </nav>
    <div
      class="w3-sidebar w3-bar-block w3-animate-right add"
      style="
        width: 200px;
        display: block;
        right: 0;
        position: absolute;
        z-index: 100000;
      "
      id="mySidebar"
    >
      <button
        class="w3-bar-item w3-button w3-large w3-hide-large"
        onclick="w3_close()"
      >
        <b style="display: flex; justify-content: center; font-size: 30px"
          >&times</b
        >
      </button>
      <% if (cookie) { %>
      <form action="/user" method="get">
        <button><i class="fa-solid fa-circle-user fa-2xl"></i></button>
      </form>
      <% } else { %>
      <form action="/signup/get" method="get">
        <button>Sign up</button>
      </form>
      <% } %>
      <form action="/home" method="get"><button>Home</button></form>

      <form action="/about_section" method="get">
        <button>About</button>
      </form>

      <form action="/add" method="get"><button>Add</button></form>

      <form action="/allProducts" method="get">
        <button>Get</button>
      </form>
    </div>
  </body>
  <script>
    window.onscroll = function () {
      scrollFunction();
    };

    function scrollFunction() {
      if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
      ) {
        // Change the background color and text color of the nav bar
        document.getElementById("nav").style.backgroundColor = "#1e1d1d";
        // document.getElementById("nav").style.color = "white"; // Corrected to "white"
        // document.querySelector(".cart i").style.color = "white"; // Corrected to "white"
        // document.getElementById("bar").style.color = "white"; // Corrected to "white"
        // var element = document.getElementById("nav");
        // element.classList.add("addnav");

        // Change the color of buttons inside .right class
      } else {
        document.getElementById("nav").style.backgroundColor = "transparent";

        // Revert the nav bar background color when scrolled up
      }
    }
    document.getElementById("mySidebar").style.display = "none";
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
    }
  </script>
</html>
