<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .toplevel {
      font-size: 23px;
      font-family: Arial, Helvetica, sans-serif;
    }
    body {
      background: linear-gradient(
        rgb(0, 0, 0) 0%,
        rgb(31, 30, 30) 50%,
        rgb(0, 0, 0) 100%
      );
    }
    .top {
      height: 55vh;
      width: 90vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      padding-top: 5rem;
    }
    .image {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      background-color: black;
    }
    .image img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
    }
    .content {
      font-size: 19px;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-weight: bold;
    }
    .name {
      margin-top: 1rem;
    }
    .email {
      margin-top: 1rem;
    }
    button {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      border-radius: 4px;
      font-size: 17px;
      font-weight: bold;
      margin-top: 2rem;
      border: none;
      outline: none;
      background-color: rgb(254, 1, 1);
      border: 1px solid white;
    }
  </style>
  <body>
    <div class="top">
      <div class="image">
        <img src="/images/samf.jpg" alt="" />
      </div>
      <div class="content">
        <div class="name"><%= user.name %></div>
        <div class="email"><%= user.email %></div>
      </div>
      <form action="/logout" method="get">
        <button type="submit">Logout</button>
      </form>
    </div>
  </body>
</html>
