<link rel="stylesheet" href="style.css" />
<div class="service">
  <h1>Our Services</h1>
  <div class="boxes">
    <div class="box1">
      <i
        class="fa-sharp fa-solid fa-bag-shopping fa-2xl"
        style="color: #fff"
      ></i>
      <h2>On Rent</h2>
      <p>
        Upgrade your workspace without the commitment. Renting made easy for
        hostel and college staff
      </p>
      <button>Know More</button>
    </div>
    <div id="box2" class="box1">
      <i class="fa-solid fa-money-check-dollar fa-2xl" style="color: #fff"></i>
      <h2>Sell Your Items</h2>
      <p>
        Easily declutter and earn with our selling platform - students sell
        textbooks, staff sell unused items, all made effortless.
      </p>
      <button>Know More</button>
    </div>
    <div class="box1">
      <i class="fa-brands fa-shopify fa-2xl" style="color: #fff"></i>
      <h2>Buy</h2>
      <p>
        Shop effortlessly for all your needs: students prep for the semester,
        staff upgrade spaces, with easy browsing, comparison, and doorstep
        delivery
      </p>
      <button>Know More</button>
    </div>
  </div>
</div>
