<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>
  <body>
    <% include ('nav.ejs') %>

    <div class="main">
      <div class="all-products">
        <% products.forEach(product => { %>
        <div class="single-product">
          <div class="product-details">
            <h2><%= product.Name %></h2>
            <img src="<%= product.productImage %>" />
            <!-- Assuming product.productImage contains the URL or path to the image -->
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
