<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Item</title>
  </head>
  <body>
    <div id="userList"></div>
    <script>
      fetch("/api/user")
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then((data) => {
          const userListDiv = document.getElementById("userList");
          data.forEach((user) => {
            const userDiv = document.createElement("div");
            userDiv.innerHTML = `
            <h1>Name: ${user.Name}</h1>
            <h2>Price: ${user.Price}</h2>
            <h3>Date: ${user.date}</h3>
            <img src="/uploads/${user.productImage}" alt="Product Image" width="200" />
            <hr/>
          `;
            userListDiv.appendChild(userDiv);
          });
        });
    </script>
  </body>
</html>
