* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.all-products {
  height: 100vh;
  width: 100vw;
  padding-top: 7rem;
  display: flex;
  justify-content: space-evenly;
}
.single-product {
  height: 300px;
  width: 280px;
  border: 1px solid black;
  background-color: #f8f8fd;
}
