* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#bar {
  display: none;
}

.sidebar {
  height: 200px;
  width: 100vw;
  background-color: #f8f8fd;
  display: none;
}
.sidebar ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 5px;
  padding-right: 5px;
}

.sidebar button {
  background-color: transparent;
  border: none;
}

nav {
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
  padding-left: 1rem;
  position: fixed;
  z-index: +1000;
  color: #262626;
  background-color: #ffffff;
}
.left {
  width: 15vw;
  height: 50px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #262626;
}
.right {
  width: 70vw;
  height: 50px;
  display: flex;
  justify-content: end;
}
.right ul {
  width: 50vw;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.right button {
  background-color: transparent;
  border: none;
  font-size: 16.5px;
  font-weight: 540;
  color: #262626;
}
.right button:hover {
  opacity: 0.8;
}
.cart {
  display: flex;
  align-items: center;
}
.cart i {
  margin-left: 3px;
}

/* Hero Portion */

.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 250, 250);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4rem;
}
.home-pic {
  width: 40vw;
  height: 90vh;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.home-pic img {
  height: 360px;
  width: 360px;
  border-radius: 50%;
  position: relative;
}

/* .out {
  height: 375px;
  width: 375px;
  background-image: linear-gradient(to right, orange, rgb(62, 120, 227));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
} */

.text {
  width: 60vw;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 4rem;
  padding-left: 2.5rem;
}
.text h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  text-align: center;
}

.text p {
  width: 90%;
  font-size: 21px;
  margin-top: 1rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: start;
}
.text span {
  color: rgb(44, 109, 179);
}
.text b {
  color: orange;
}

.hero button {
  width: auto;
  padding-left: 2.4rem;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 2.4rem;
  font-size: 19px;
  background-color: #ff7700;
  font-family: "Roboto", sans-serif;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 1rem;
}
.hero button:hover {
  background-color: rgb(247, 119, 72);
  transition: 0.1s;
}

/* about Section*/
.abt {
  height: 900px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border-top: 4px solid black; */
  /* background-color: rgb(241, 241, 241); */
  background-color: white;
}
#pic {
  height: 320px;
  width: 450px;
  background-image: url(images/cm.png);
  background-size: cover;
  object-fit: fill;
  background-position: center;
}
#txt {
  height: 450px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  text-align: start;
}
#txt h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  text-align: center;
}
#txt p {
  font-size: 21px;
  word-spacing: 4px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Fira Sans", sans-serif;
  text-align: start;
}

/* Hero Portion  */

/* Service Portion */
.service {
  height: 100vh;
  width: 100vw;
  background-color: #f8f8fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* align-items: center; */
}
.service h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.boxes {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
}
.box1 {
  width: 23vw;
  height: 40vh;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.box1 h2 {
  color: black;
}
.box1 p {
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  word-spacing: 3px;
  text-align: center;
}
.box1 button {
  height: 35px;
  width: auto;
  padding-left: 1rem;
  border-radius: 3px;
  padding-right: 1rem;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: yellowgreen;
  color: white;
  border: none;
  font-weight: bold;
}
.box1 button:hover {
  background-color: rgba(4, 4, 125, 0.7);
}
/* #box2 {
  margin-top: 5rem;
} */

/* Service Portion */

/* About Portion */

.about {
  height: 130vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  padding-top: 2rem;
}
.about h1 {
  font-family: Arial, Helvetica, sans-serif;
}
.b2 {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.b1 {
  height: 30vh;
  width: 40vw;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 19px;
  /* border: 1px solid black; */
  background-color: #f8f8fd;
  font-family: "Fira Sans", sans-serif;
  word-spacing: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.b1:hover {
  scale: 1.02;
  transition: 0.267s;
}
.b1 b {
  color: rgb(43, 98, 160);
  font-size: 20px;
  margin-right: 1rem;
}
.b1 i {
  margin: 5px;
}
/* About Portion */

/* footer Section */

footer {
  height: 50vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
footer .left {
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
}

footer .right {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.social {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
}
.social i {
  color: #262626;
}
.social i:hover {
  scale: 1.1;
  transition: 0.3s ease all;
}
/* footer Section */
.copy {
  height: 40px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(247, 247, 247);
  background-color: #262626;
}

/* Responsive Web design */
@media screen and (max-width: 800px) {
  .right {
    display: none;
  }
  .left h1 {
    font-size: 20px;
    width: 40vw;
  }
  .hero {
    height: 80vh;
    flex-direction: column;
  }
  .hero text {
    width: 100vw;
    height: 30vh;
  }
  .hero .text h1 {
    font-size: 24px;
  }
  .text p {
    font-size: 13px;
  }
  .b1 i {
    margin: 1rem;
  }
}

@media screen and (max-width: 800px) {
  nav {
    height: 90px;
  }
  .left {
    width: 40vw;
  }
  .left h1 {
    font-size: 23px;
    font-weight: bold;
  }
  .hero {
    height: max-content;
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
  }
  .home-pic {
    height: max-content;
    padding-left: 0;
    padding-top: 6rem;
    padding-bottom: 0;
    border-radius: 5px;
    width: 80vw;
  }
  .home-pic img {
    height: 200px;
    width: 80vw;
    border-radius: 5px;
    padding: 0;
  }
  #bar {
    display: block;
  }
  #cart {
    display: none;
  }
  .cart p {
    display: none;
  }
  .text {
    padding: 0;
    padding-left: 0;
    margin-top: 4rem;
    width: 100vw;
    align-items: center;
  }
  .hero .text h1 {
    font-size: 30.5px;
  }
  .text p {
    font-size: 18px;
    width: 90vw;
    font-family: serif;
    color: rgb(49, 43, 43);
  }
  .hero h1 {
    margin-bottom: 0.6rem;
  }
  .hero .text button {
    height: 40px;
    width: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  .abt {
    height: max-content;
    flex-direction: column-reverse;
    padding-top: 1.4rem;
    background-color: white;
    padding-bottom: 2rem;
  }
  #pic {
    width: 320px;
    height: 200px;
    margin-top: 2rem;
  }
  #txt {
    width: 100vw;
    padding-left: 5px;
    padding-right: 5px;
  }
  #txt h2 {
    font-size: 1.6rem;
  }
  #txt p {
    font-size: 16px;
    padding-left: 1rem;
  }
  .service {
    height: max-content;
    justify-content: center;
    background-color: #f8f8fd;
  }
  .service h1 {
    font-size: 25px;
  }
  .boxes {
    flex-direction: column;
    height: max-content;
    align-items: center;
  }
  .box1 {
    width: 80vw;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .box1 h2 {
    font-size: 18px;
  }
  #box2 {
    margin-top: 0;
  }
  .about {
    height: max-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .about h1 {
    font-size: 22px;
  }
  .about b {
    font-size: 17px;
    margin-bottom: 1rem;
  }
  .b1 {
    width: 90vw;
    margin-bottom: 1rem;
    flex-direction: column;
    margin-top: 2rem;
    height: max-content;
    font-size: 15px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border: none;
    /* background-color: antiquewhite; */
  }

  .b2 {
    flex-direction: column;
  }
  footer .left h1 {
    font-size: 25px;
  }
  footer .right {
    width: 100vw;
  }
  footer .right ul {
    width: 100vw;
  }
  footer .right ul button {
    font-size: 16px;
  }
  .social {
    width: 60vw;
  }
  .social i {
    font-size: 25px;
  }
  .copy {
    font-size: 12px;
  }
}
